<%= render partial: "shared/navigation", locals: {icon_type:'fa-solid', icon_name: 'arrow-left', title:@group.name.upcase, right:''} %>
<div class="show-actions">
  <%= link_to "Edit", edit_group_path(@group) %>
  <%= button_to "Delete", @group, method: :delete %>
</div>
<p style="color: green"><%= notice %></p>
<%= render @group %>
<div>
  <%= link_to "New Payment", new_group_payment_path(@group), class: 'btn create groups' %>
</div>
<div id="payments">
  <% if @group.payments.any? %>
    <%= render @group.payments %>
  <% else %>
    <p>No payments yet.</p>
  <% end %>
</div>
    
