<%= form_with(model: payment, url: group_payments_path(group), class: "new_payment") do |form| %>
  <% if payment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(payment.errors.count, "error") %> prohibited this payment from being saved:</h2>
      <ul>
        <% payment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :name, hidden: true %> <br/>
    <%= form.text_field :name, placeholder: 'Name' %>
  </div>
  <div>
    <%= form.text_field :amount, placeholder: 'Amount' %>
  </div>
  <div>
    <%@groups.each do |group|%>
      <%= check_box_tag "group_ids[]", group.id, group.id %> <%= group.name %>
    <%end%>
  </div>
  <div class="verb">
    <%= form.submit "Create", class: 'btn create' %>
  </div>
<% end %>
